.box {
    border: 3px solid black;
    padding: 20px;
    width: 400px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  